{% extends '-base.html' %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}
	{% translate 'Change Password' %}
{% endblock %}

{% block context %}
    <div class="breadcrumb-area bg-gray">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <ul>
                    <li>
                        <a href="{% url 'products:product_list' %}">{% trans 'Home' %}</a>
                    </li>
                    <li class="active">{% trans 'Change Password' %}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="my-account-wrapper pt-120 pb-120">
        <div class="myaccount-content ">
            <h3>{% trans 'Account Details' %}</h3>
            <div class="account-details-form">
                <form action="{% url 'account_change_password' %}" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors | safe }}
                    <fieldset>
                        <legend>{% trans 'Password change' %}</legend>
                        <div class="single-input-item">
                            {{ form.oldpassword.errors | safe }}
                            <label for="current-pwd" class="sr-only">{% trans 'Current Password' %}</label>
                            {% render_field form.oldpassword type="" id="current-pwd" %}
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="single-input-item">
                                    {{ form.password1.errors | safe }}
                                    <label for="new-pwd" class="sr-only">{% trans 'New Password' %}</label>
                                    {% render_field form.password1 type="" id="new-pwd" %}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="single-input-item">
                                    {{ form.password2.errors | safe }}
                                    <label for="confirm-pwd" class="sr-only">{% trans 'Confirm Password' %}</label>
                                    {% render_field form.password2 type="" id="confirm-pwd" %}
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="single-input-item">
                        <button type="submit"
                                class="check-btn sqr-btn ">{% trans 'Save Changes' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
